
{% extends "pastebin/base.html" %}  
{% block content %}
  
  <div class="container">
    <div class="row">
      <div class="col-sm pt-4">
        <!--Beginning of Card-->
        <div class="card" style="width:500px; margin: 0 auto;">
          <div class="card-body">
            <!--Beginning of user form -->
            <h5><b>Delete Bopie</b></h5><hr />
            <form method="POST">
              {% csrf_token %}
              <div class="form-group">
                <h4>Are you sure you want to delete your post: "{{ object.title }}" ?</h4>
              </div> 
              
              <div class="form-group">
                <button class="btn btn-danger" type="submit">Delete</button>
                <a class="btn btn-primary" href="{% url 'bopie-detail' object.id %}">Cancel</a>
              </div>
            </form>
            <!-- end of user form -->
          </div>
        </div>
      </div>
      <!--beginning of second column in row1-->
      
    </div>
  </div>

{% endblock content %}

