
{% extends "pastebin/base.html" %}  
{% load crispy_forms_tags %}
{% block content %}
  
  <div class="container">
    <!--beginning of row2 -->
    <div class="row" style="width:80%; margin:0 auto;">
      <div class="col-sm pt-4">  
          <div class="pt-2">
            <div class="card">
              <div class="card-body"> 
                  <div style="display: inline-flex;">
                      <p><b>{{object.title}}</b> - {{object.date_posted|date:"F d, Y"}}</p>
                  </div><p style="float: right;"><b>{{object.author}}</b></p><hr />

                  <p><code style="white-space: pre-wrap; color: black;">{{object.content}}</code></p>
                 
                  {% if object.author == user %}
                    <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'bopie-update' object.slug %}">Update</a>
                    <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'bopie-delete' object.slug %}">Delete</a>
                  {% endif %}
                  <!-- Download Not the best implementation -->
                  <button class="btn btn-primary btn-sm mt-1 mb-1" id="save-data">Download</button>
              </div>
            </div>
          </div>
       
      </div>
      <!-- beginning of new column in row2-->
    </div>
  </div>

{% endblock content %}

