
{% extends "pastebin/base.html" %}  
{% load crispy_forms_tags %}
{% block content %}
  
  <div class="container">
    <div class="row">
      
      <!--beginning of second column in row1-->
      <div class="col-sm pt-3">
        
        <!--new card for search -->
        <div class="pt-2 sticky-top">
          <div class="card">
            <div class="card-body">
              <form>
                <div class="form-group">
                  <input class="form-control" id="search" type="text" placeholder="Search">
                </div>
                <button class="btn btn-primary" id="searchSubmit">Search</button>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- beginning of third column in row1 (currently none) -->
    </div>
    <!--beginning of row2 -->
    <div class="row">
      <div class="col-sm pt-4">
        <h5><b>Recent Bopies</b></h5><hr />
        {% for post in posts %}
          <div class="pt-2">
            <div class="card">
              <div class="card-body"> 
                  <p><b><a href="{% url 'bopie-detail' post.id %}">{{post.title}}</a></b> - {{post.date_posted|date:"F d, Y"}}</p><hr />
                  <p>{{post.content}}</p>
                  <p> - {{post.author}}</p>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
      <!-- beginning of new column in row2-->
    </div>
  </div>

{% endblock content %}

