
{% extends "pastebin/base.html" %}  
{% load crispy_forms_tags %}
{% block content %}
  
  <div class="container">
    <div class="row" style="width:80%; margin: 0 auto;">
      
      <!--beginning of second column in row1-->
      <div class="col-sm pt-3">
        
        <!--new card for search -->
        <div class="pt-2">
          <div class="card">
            <div class="card-body">
              <form>
                <div class="form-group">
                  <input class="form-control" id="search" type="text" placeholder="Search">
                </div>
                <button class="btn btn-primary" id="searchSubmit">Search</button>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- beginning of third column in row1 (currently none) -->
    </div>
    <!--beginning of row2 -->
    <div class="row" style="width: 80%; margin: 0 auto;">
      <div class="col-sm pt-4">
        <h5><b>Recent Bopies</b></h5><hr />
        {% for post in posts %}
          <div class="pt-2">
            <div class="card">
              <div class="card-body"> 
                
                <div style="display: inline-flex;">
                  <p><b><a href="{% url 'bopie-detail' post.slug %}">{{post.title}}</a></b> - {{post.date_posted|date:"F d, Y"}}</p>
                  
                </div><p style="float: right;"><b>{{post.author}}</b></p><hr />
                
                {% if post.postUpload %}
                  <p><code style="white-space: pre-wrap; color:black;">{{post.postUpload.read.decode}}</code></p>
                
                {% else %}
                  <p><code style="white-space: pre-wrap; color:black;">{{post.content}}</code></p>
                {% endif %}
              </div>
            </div>
          </div>
        {% endfor %}
        <br />
        {%if is_paginated %}

          {% if page_obj.has_previous %}
            <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
            <a class="btn btn-outline-info mb-4" href="?page={{page_obj.previous_page_number}}">Previous</a>
          {% endif %}
          
          {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
              <a class="btn btn-primary mb-4" href="?page={{num}}">{{ num }}</a>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
              <a class="btn btn-outline-info mb-4" href="?page={{num}}">{{num}}</a>
            {% endif %}
          {% endfor %}

          {% if page_obj.has_next %}
            <a class="btn btn-outline-info mb-4" href="?page={{page_obj.next_page_number}}">Next</a>
            <a class="btn btn-outline-info mb-4" href="?page={{page_obj.paginator.num_pages}}">Last</a>
          {% endif %}

        {% endif %}

      </div>
      <!-- beginning of new column in row2-->
    </div>
  </div>

{% endblock content %}

