
{% extends "pastebin/base.html" %}  
{% load crispy_forms_tags %}
{% block content %}
  
  <div class="container">
    <div class="row">
      <div class="col-sm pt-4">
        <!--Beginning of Card-->
        <div class="card" style="width:500px; margin: 0 auto;">
          <div class="card-body">
            <!--Beginning of user form -->
            <h5><b>Register</b></h5><hr />
            <form method="POST">
              {% csrf_token %}
              <div class="form-group">
                {{form|crispy}}
              </div> 
              
              <button class="btn btn-primary" type="submit" id="userSubmit">Submit</button>
            </form>
            <div class="border-top pt-3">
              <small class="text-muted">Already have an account? <a class="ml-2" href="{% url 'pastebin-login' %}">Login</a></small>
            </div>
            <!-- end of user form -->
          </div>
        </div>
      </div>
      <!--beginning of second column in row1-->
      
    </div>
  </div>

{% endblock content %}

